/JavaApplication4/nbproject/private/
/nbproject/private/
/build/
/dist/
*.class
out/production/PS-1/Assembler.class
out/production/PS-1/Processor$1.class
out/production/PS-1/Processor.class
/out/
*.class
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/private.xml
